@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}