@use './partials/variables' as *;
@use './partials/mixins' as *;

// *{
//     @include reset;
// }

body{
    background-color: $bg-color;
    color: $main-color;
    font-family: $main-font-family;
}

a{
    text-decoration: none;
    color: $main-color;
}
